<div class="row">
    <div class="col-md-4">
        <h3>Instructor</h3>

        <ul class="icon-list">
            <li><i class="fas fa-user"></i> <a> {{ .Site.Params.instructor.name }}</a></li>
            <li><i class="fas fa-university"></i> {{ .Site.Params.instructor.office }}</li>
            <li><i class="fas fa-envelope"></i> <a href="mailto:{{ .Site.Params.instructor.email }}"> {{ .Site.Params.instructor.email }}</a></li>
        </ul>
    </div>

    <div class="col-md-4">
        
    </div>

    <div class="col-md-4 contact-policy">
        <h3>Office Hours</h3>

        <p>{{ .Site.Params.instructor.contact_policy | markdownify}}</p>
    </div>
</div>
